<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidenav">
    <nav class="side-navbar">
      <div class="side-navbar-wrapper">
        <!-- Sidebar Header    -->
        <div class="sidenav-header d-flex align-items-center justify-content-center">
          <!-- User Info-->
          <div class="sidenav-header-inner text-center">
          	<img th:src="@{/img/avatar-2.jpg}" alt="person" class="img-fluid rounded-circle"/>
            <h2 class="h5" th:utext="${userName}"></h2>
            <!-- <span>Job Title</span> -->
          </div>
          <!-- Small Brand information, appears on minimized sidebar-->
          <div class="sidenav-header-logo"><a href="/admin/home" class="brand-small text-center"> <strong>NH</strong><strong class="text-primary">C</strong></a></div>
        </div>
        <!-- Sidebar Navigation Menus-->
        
        <div class="main-menu">
          <h5 class="sidenav-heading">Options</h5>
          <ul id="side-main-menu" class="side-menu list-unstyled">
          
            <!-- ========================== Section ========================== -->
            <t th:switch="${mode}">
            	<t th:case="'c001sec'">
            		<li class="active"><a href="/c001sec"> <i class="icon-form"></i>Section</a></li>
            	</t>
            	<t th:case="*">
            		<li><a href="/c001sec"> <i class="icon-home"></i>Section</a></li>
            	</t>
            </t>
            
            <!-- ========================== POS ========================== -->
           
            
           
			<!-- ========================== Administration ========================== -->
			
			
          </ul> 
        </div>
      </div>
    </nav>
</div>
</html>